<div class="modal-header bg-danger">
  <h4 class="modal-title">{{tituloModal}}</h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"
    (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">×</span>
  </button>
</div>
<form [formGroup]="form">
  <div class="modal-body">
    <div class="form-group">
      <label for="exampleInputEmail1">Clave</label>
      <input type="text" class="form-control" formControlName="claveTipoReparacion" id="exampleInputEmail1"
        placeholder="Escribe la clave" maxlength="3">
    </div>
    <div class="form-group">
      <label>Descripción</label>
      <textarea class="form-control" formControlName="descripcion" rows="3"
        placeholder="Escribe una descripción" maxlength="125"></textarea>
    </div>
  </div>
  <div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-default" data-dismiss="modal"
      (click)="activeModal.close('Close click')">Cerrar</button>
    <button type="button" class="btn btn-danger" (click)="editar()">Editar</button>
  </div>
</form>
