.green-icon{
  color: #198754;
}

.red-icon{
  color: #dc3545;
}

.field-icon {
  float: right;
  left: -15px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

.info-pass{
  font-size: xx-small
}
