<section class="content-wrapper big-image">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0" style="color: white;">Daños</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href style="color: whitesmoke;">Inicio</a></li>
                        <li class="breadcrumb-item active" style="color: whitesmoke;">Daños</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card col-lg-12 component-transparent">
                    <div class="card-header">
                        <h3 class=" text-center">Listado De Daños</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <form role="form">
                            <div class="row">
                                <div class="col-sm-4">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Vin</label>
                                        <input type="text" class="form-control" placeholder="Enter ..." />
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Ubicación</label>
                                        <input type="text" class="form-control" placeholder="Enter ..." />
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Responsable</label>
                                        <input type="text" class="form-control" placeholder="Enter ..." />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Marca</label>
                                        <input type="text" class="form-control" placeholder="Enter ..." />
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Severidad</label>
                                        <input type="text" class="form-control" placeholder="Enter ..." />
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Clasificacón</label>
                                        <input type="text" class="form-control" placeholder="Enter ..." />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Fechas:</label>
                                        <div class="row">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="far">Desde:
                                                        </i>
                                                    </span>
                                                </div>
                                                <input type="date" class="
                                                        form-control
                                                        float-right
                                                    " id="reservation" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="far">Hasta:
                                                        </i>
                                                    </span>
                                                </div>
                                                <input type="date" class="
                                                        form-control
                                                        float-right
                                                    " id="reservation" />
                                            </div>
                                        </div>

                                        <!-- /.input group -->
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Tipo</label>
                                        <input type="text" class="form-control" placeholder="Enter ..." />
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="">Buscar</label>
                                        <button type="submit" class="btn btn-primary form-control">Buscar</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Area</label>
                                        <input type="text" class="form-control" placeholder="Enter ..." />
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Area Adicional</label>
                                        <input type="text" class="form-control" placeholder="Enter ..." />
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="">Limpiar</label>
                                        <button type="submit" class="btn btn-primary form-control">Limpiar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </section>
</section>