<div class="modal-header bg-danger">
    <h4 class="modal-title">{{tituloModal}}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
        (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
    </button>
</div>
<div class="modal-body">

  <form [formGroup]="form">
    <div class="form-group">
        <label>Status VTIMS</label>
        <select class="form-control" formControlName="estadoVTIMS">
            <option value="" selected>Seleccione una opción</option>
            <option value="900">900</option>
            <option value="4B">4B</option>
            <option value="4D">4D</option>
            <option value="42">42</option>
            <option value="NA">N/A</option>
        </select>
    </div>
  </form>
</div>
<div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-default" data-dismiss="modal"
        (click)="activeModal.close('Close click')">Cerrar</button>
    <button type="button" class="btn btn-danger" (click)="editar()">Guardar cambios</button>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-pulse" [fullScreen] = "true"> <ngb-progressbar type="success" [value]="">
</ngb-progressbar></ngx-spinner>
