<div class="content-wrapper big-image">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0" style="color: white;">Códigos de daños</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item text-white"><a href="" style="color: whitesmoke;">Inicio</a></li>
                        <li class="breadcrumb-item active" style="color: whitesmoke;">Codigos de daños</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="content">

        <div class="container-fluid">

            <div class="row">

                <div class="col-lg-3 col-6">
                    <!-- small card -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>150</h3>

                            <h4>Area</h4>
                        </div>
                        <div class="icon">
                            <i class="fas fa-chart-area"></i>
                        </div>
                        <a (click)="irAdministrarArea()" class="small-box-footer" style="cursor: pointer;">
                            Administrar <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small card -->
                    <div class="small-box bg-teal color-palette">
                        <div class="inner">
                            <h3>53<sup style="font-size: 20px">%</sup></h3>

                            <h4>Tipo</h4>
                        </div>
                        <div class="icon">
                            <i class="fas fa-project-diagram"></i>
                        </div>
                        <a (click)="irAdministrarTipo()" class="small-box-footer" style="cursor: pointer;">
                            Administrar <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small card -->
                    <div class="small-box bg-pink color-palette">
                        <div class="inner">
                            <h3>44</h3>

                            <h4>Severidad/Factor</h4>
                        </div>
                        <div class="icon">
                            <i class="fas fa-car-crash"></i>
                        </div>
                        <a (click)="irAdministrarSeveridadFactor()" class="small-box-footer" style="cursor: pointer;">
                            Administrar <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small card -->
                    <div class="small-box bg-maroon color-palette">
                        <div class="inner">
                            <h3>65</h3>

                            <h4>Ubicación</h4>
                        </div>
                        <div class="icon">
                            <i class="fas fa-thumbtack"></i>
                        </div>
                        <a (click)="irAdministrarUbicacion()" class="small-box-footer" style="cursor: pointer;">
                            Administrar <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <!-- small card -->
                    <div class="small-box bg-orange color-palette">
                        <div class="inner">
                            <h3 style="color: white;">53<sup style="font-size: 20px">%</sup></h3>
                            <h4 style="color: white;">Tipo de reparación</h4>
                        </div>
                        <div class="icon">
                            <i class="fas fa-toolbox"></i>
                        </div>
                        <a (click)="irAdministrarTipoReparacion()" class="small-box-footer" style="cursor: pointer; color: white;"  >
                            Administrar <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>